* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

html,
body {
  background-color: #1a1a1a; /* совпадает с clearValue {0.1,0.1,0.1} */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

canvas {
  margin-top: 50px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

.ui {
  background-color: rgb(40, 39, 39);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50%;
  width: 300px;
  height: auto;
  z-index: 100;
  padding: 12px 16px 16px 16px;
  margin-top: 20px;
  border-radius: 12px;

  fieldset {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.1);
    padding: 16px;
    color: white;

    legend {
      padding: 0 12px;
    }

    * {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: auto;
    }
  }
}

.ui #reset {
  flex: 1 1 auto;
  justify-content: center;
  appearance: none;
  border: none;
  padding: 10px 14px;
  border-radius: 10px;
  cursor: pointer;
  color: #0b0b0b;
  background: linear-gradient(180deg, #fff, #e7e7e7);
  box-shadow:
    0 2px 0 rgba(0, 0, 0, 0.25),
    0 6px 14px rgba(0, 0, 0, 0.2);
}

.ui #reset:hover {
  box-shadow:
    0 2px 0 rgba(0, 0, 0, 0.25),
    0 10px 20px rgba(0, 0, 0, 0.25);
}

.ui #reset:active {
  transform: translateY(1px);
  box-shadow:
    0 1px 0 rgba(0, 0, 0, 0.25),
    0 6px 14px rgba(0, 0, 0, 0.2);
}
